* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:768px) {
  
    .cont-noticias {
        display: block;
       
  
       .inicio {
          font-size: 50px;
          align-self: start;
      }
        
    }
  }