h1 {
    text-align: center;
    font-size: 80px;
  }

.navbar {
  height: 100px;
  width: 100%;
  border: 1px solid blueviolet;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid gray;
 

  .nav-logo {
    height: 70px;
    border: 1px solid blueviolet;
    margin-left: 10px;
  }

   .nav-lista {
    margin-right: 10px;
    display: flex;
    width: 60%;
    list-style: none;
    justify-content: space-around;
  }
}
