.cont-noticias {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .sec-noticias {
    width: 65%;
    margin: 1em;
    display: flex;
    justify-content: flex-end;
  }

  .sec-noticias > article {
    
    font-size: 25px;
    margin: 2em;
    background: $color-articulo-noticia;
  }
  
}

h2 {
  text-align: center;
  font-size: 40px;
}

h3 {
  text-align: center;
  margin: 1em;
}

.imagen-noticia {
  height: 300px;
  width: 320px;
}

.cont-columnas {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  

  .imagen-columna {
    @extend .imagen-noticia;
  }

  .sec-columnas {
    width: 65%;
    margin: 1em;
    display: flex;
    justify-content: flex-end;
  }

  .sec-columnas > article {
    font-size: 25px;
    margin: 2em;
    background: $color-articulo-columna;
  }
}

.cont-opinion {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .sec-opinion {
    width: 65%;
    margin: 1em;
    display: flex;
    justify-content: flex-end;
  }

  .sec-opinion > article {
    font-size: 25px;
    margin: 2em;
    background: $color-articulo-opinion;
    
  }
}

.imagen-opinion {
  @extend .imagen-noticia;
}


@media only screen and (max-width:320px) {
  .inicio {
      font-size: 5px;
      text-align: center;
  }
  article {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
}